<div class="form-group row mt-2 mb-2">
  <div class="col-lg-3">
    <label class="col-form-label">Início:</label>
    <input [(ngModel)]="startDate" type="date" class="form-control" (change)="filterByDate()">
  </div>
  
  <div class="col-lg-3">
    <label class="col-form-label">Fim:</label>
    <input [(ngModel)]="endDate" type="date" class="form-control" (change)="filterByDate()">
  </div>

  <div class="text-center col-lg-4 my-auto">
    <div>
      <label>Ordenamento:</label>
    </div>
    
    <app-order-buttons (changeOrderEvent)="changeOrder($event)"></app-order-buttons>
  </div>

  <div class="text-center col-lg-2">
    <div>
      <label>Página:</label>
    </div>

    <div>
      <select #selectedPage class="form-control" (change)="changePage(selectedPage.value)">
        <option *ngFor="let page of pages; index as i; first as isFirst" value="{{ i }}">{{ i }}</option>
      </select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" *ngFor="let customer of customers">
    <app-customer-card [customer]="customer"></app-customer-card>
  </div>
</div>

